<% @publishers.each do |publisher| %>
  <h1><%= publisher.name %></h1>
  <ul>
    <% publisher.authors.each do |author| %>
    <li>
      <%= link_to author.name, author_path(author) %>
      <ul>
        <% author.books.each do |book| %>
        <li><%= book.title %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
<% end %>